
@{
    ViewBag.Title = "عن انجزني";
    Layout = "~/Views/Layout/_SiteLayout1.cshtml";
}



    <!-- Page Header -->
    <div class="page-hdr">
        <div class="container">
            <h1>
                عن الشركة
            </h1>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Start Landing -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>الصيانات المنزلية أسهل مع انجزنى</h2>
                        <p>
                            انجزني هو أول موقع للخدمات المنزلية علي الانترنت ​، ​مملوك و يدار بواسط​ة​ Engzny inc,
                            ​هدفنا
                            ان نوصل ​ال​عملاء بأفضل مقدمي الخدمات و نقدم​ ​لهم عروض مميزة.
                        </p>
                        <p>
                            نقدم خدمات متعددة اهمها النجارة، السباكة​، أعمال الكهرباء​، الحدادة، صيانة الاجهزه
                            المنزلية
                            واكثر
                            من الخدمات فى الصيانة وخدمات منزلك. بالتعامل مع انجزنى ​ست​ضمن عمال​ة​ مضمون​ة​, جود​ة
                            ممتاز​ة
                            , سعر مثالي.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="about-image" src="~/SiteFolders/imgs/about-2.png" alt="services">
                </div>
            </div>
        </div>
    </div>
    <!-- End Landing -->
    <!-- Why Engzny -->
    <div class="why mt-5 mb-5">
        <div class=" container">
            <div class="main-title text-center mb-5 position-relative">
                <h2 style="font-weight: bold;">لماذا تستخدم انجزنى؟</h2>
                <p class="text-black-50">Stay tuned to our new services</p>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="box-container">
                        <img src="~/SiteFolders/imgs/happy.png">
                        <p class="text-black-50 fw-bold">الآلاف من العملاء السعداء</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box-container">
                        <img src="~/SiteFolders/imgs/grnn.png">
                        <p class=" text-black-50 fw-bold">مئات من الفنيين والعمال المضمونين</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box-container ">
                        <img src="~/SiteFolders/imgs/100g.png">
                        <p class=" text-black-50 fw-bold"> ضمان الجودة و تنفيذ احترافى </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box-container">
                        <img src="~/SiteFolders/imgs/donedeal.png">
                        <p class="text-black-50 fw-bold"> اكثر من الآف الطلبات شهرياً</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="trainings">
                        <img src="~/SiteFolders/imgs/trainings.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Engzny -->
  