
@{
    ViewBag.Title = "كيفية الاستخدام";
    Layout = "~/Views/Layout/_SiteLayout1.cshtml";
}



    <!-- Page Header -->
    <div class="page-hdr">
        <div class="container">
            <h1>
                كيفية الإستخدام
            </h1>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Start how to Use -->
    <div class="how">
        <div class="container">
            <div class="main-title text-center mb-5 position-relative">
                <h2 style="font-weight: bold;">كيفية الإستخدام</h2>
                <p class="text-black-50">Stay tuned to our new services</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="flex">
                        <img src="~/SiteFolders/imgs/step1.png" alt="step1">
                        <p>
                            قم بتصفح الخدمات التى
                            تريدها وإختار الخدمة
                            <a class="here" asp-action="Index">من هنا</a>.
                        </p>
                    </div>
                    <div class="flex">
                        <img src="~/SiteFolders/imgs/step2.png" alt="step2">
                        <p>
                            إضغط على زر
                            <span>"أطلب الخدمة"</span>.
                        </p>
                    </div>
                    <div class="flex">
                        <img src="~/SiteFolders/imgs/step3.png" alt="step3">
                        <p>
                            قم بإدخال بياناتك بطريقة صحيحة لأننا
                            سوف نتواصل معكم عليها لتأكيد الطلب.
                        </p>
                    </div>
                    <div class="flex">
                        <img src="~/SiteFolders/imgs/step4.png" alt="step4">
                        <p>
                            بعد الضغط على زر <span> "إرسال"</span>
                            سيقوم فريق
                            خدمة العملاء بالتواصل معك لتأكيد الطلب.
                        </p>
                    </div>
                    <div class="flex">
                        <img src="~/SiteFolders/imgs/step5.png" alt="step5">
                        <p>
                            يتم دفع تكلفة الخدمه لمقدم
                            الخدمه المتعاقد مع انجزنى.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    