@model IQueryable<ServiceVM>

@{
    ViewBag.Title = "الرئسية";
    Layout = "~/Views/Layout/_SiteLayout.cshtml";

}
<div class="services mt-3 mb-5" style="direction: rtl;">
    <div class="container">
        <div class="main-title text-center mb-5 position-relative">
            <img class="" src="~/SiteFolders/imgs/title.png" alt="" />
            <h2 id="serv" style="font-weight: bold;">Our Services</h2>
            <p class="text-black-50">Stay tuned to our new services</p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <img class="card-img-top" src="data:image\/*;base64,@(Convert.ToBase64String(item.Image))" alt="Card image">
                        <div class=" card-body">

                            <h4 class="card-title">@item.Name</h4>
                            <p class="card-text text-black-50 ">
                                @item.Description</p>



                                <a asp-action="Order" class="btn btn-success">اطلب الخدمة</a>
                                <a asp-action="Details" asp-route-name="@item.Name" class="btn btn-success">التفاصيل</a>

</div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>

