
@model OrderVM
@{
    ViewData["Title"] = "AddFeedBack";
}

<!-- Sign Up Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-10 col-md-7 col-lg-7 col-xl-6">
            <div class="bg-dark rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><i class="fas fa-tools me-2"></i>Engzny</h3>
                    </a>
                    <h3 class="text-white">AddFeedBack</h3>
                </div>

                <form asp-action="AddFeedback" asp-controller="Order" method="post">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Name" />
                    <input type="hidden" asp-for="Phone" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Date" />
                    <input type="hidden" asp-for="AnotherDate" />
                    <input type="hidden" asp-for="Notes" />
                    <input type="hidden" asp-for="Address" />
                    <input type="hidden" asp-for="ServiceId" />
                    <input type="hidden" asp-for="StatusId" />

                    <div class="form-floating mb-4">
                        <textarea class="form-control" rows="5" asp-for="FeedBack"
                                  placeholder="Write Feedback here"></textarea>
                        <label for="floatingSelect">Add Feedback</label>

                        <span asp-validation-for="FeedBack" class="text-danger"></span>

                    </div>



                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign Up End -->
<script src="~/jquery/dist/jquery.js"></script>
<script src="~/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



