
@{
    ViewBag.Title = "تفاصيل النجارة";
    Layout = "~/Views/Layout/_SiteLayout1.cshtml";
}

<head>
    <link rel="stylesheet" href="~/siteFolders/css/service.css" />
</head>

<!-- Page Header -->
<div class="service-hdr">
    <div class="container">
        <h1>
            النجارة والأعمال الخشبية
        </h1>
    </div>
</div>
<!-- End Page Header -->
<!-- Start Info -->
<div class="service-info">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <p>
                    أعمال النجارة والأعمال الخشبية للأثاث المنزلي ، بالتعاقد مع مجموعة من افضل النجارين
                    المحترفين اصحاب الخبرة.
                </p>
                <ul class="service-details">
                    <li>صيانة ألأبواب و الشبابيك.</li>
                    <li>تصنيع المكاتب و صيانتها.</li>
                    <li>تصميم قطع الأثاث الخشبى.</li>
                    <li>تصنيع الدواليب ...إلخ </li>
                </ul>

                <p>ملاحظات:-</p>
                <ul class="notes">
                    <li>يمكن للعميل شراء الخامات او يقوم الفني بشرائها ويتم محاسبة العميل عليها.</li>
                    <li>يتم تحديد الميعاد حسب الإتفاق مع الشركة.</li>
                    <li>السعر غير شامل الخامات.</li>
                </ul>

                <p>التكلفة:-</p>
                <ul class="notes">
                    <li>يتم الإتفاق علي السعر بعد إتمام المعاينة.</li>
                    <li>
                        يقوم الفنى بالمعاينة لتحديد عملية الصيانة وتكلفتها ويبلغك بالتكلفة والخامات
                        قبل البدء.
                    </li>
                    <li>تكلفة المعاينة تخصم من التكلفة الإجمالية فى حالة تنفيذ الخدمة..</li>
                    <li>
                        فى حالة تنفيذ الخدمة فى نفس يوم المعاينة ، لا يتم تحصيل معاينة ويتم دفع تكلفة الخدمة المتفق
                        عليها.
                    </li>
                </ul>

                <p>
                    <img src="~/SiteFolders/imgs/Protection.png" alt="logo">
                    كيف أضمن الفنيين والأمانة؟
                </p>
                <ul class="guarantee">
                    <li>
                        جميع الفنيين و الشركات المتعاقدين مع انجزنى بياناتهم مسجلة بالكامل و موقع معهم عقود رسمية
                        تضمن حقوق العملاء. ولكن يرجي العلم أنه في حالة التعامل مباشرة مع الفني بدون علم الشركة فأن
                        الشركة تصبح غير مسؤله عن أي مشكلة تحدث وغير ملزمة بالتدخل في هذه الحالة.
                    </li>

                </ul>
            </div>
            <!-- Logo -->
            <div class="col-md-5 col-xs-12">
                <div class="icon pt-lg-4">
                    <img src="~/SiteFolders/imgs/carpentry.png" alt="Card image">
                    <a asp-action="Order" asp-controller="Site" class="btn btn-success">اطلب الخدمة</a>
                </div>
            </div>
            <!-- End Logo -->
        </div>
    </div>
</div>

    </div>
<!-- End Info -->
