
@{
    ViewBag.Title = "قريبا !";
    Layout = "~/Views/Layout/_SiteLayout1.cshtml";
}
<head>
    <link rel="stylesheet" href="~/siteFolders/css/service.css" />
</head>

<div class="service-hdr">
    <div class="container">
        <h1>
            سيتم اضافة تفاصيل هذه الخدمه قريبا!
        </h1>
    </div>
</div>
